
/* Text */
html {
    overflow-x: hidden !important;
}

body {
    overflow:hidden
}

div {
    margin: 0 auto;
}


h1, h2, h3 , h4, h6 {
    font-family: 'Unica One', serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100px;
    text-align: center;
  }
  
  h2 {
      font: size 14px;
  }

h5.cardtitle {
    color: #1C3D63;
    font-size: 30px;
    font-family:'Unica One', serif;
}

  
.display-5 {
  font-family: 'Unica One', serif;
  position:relative;
  padding-top: 60px;
  padding-right: 80px;
  font-size: 100%;
  padding-bottom: 50px;
  color: #E67A30;
  width: 19vh;
  transform-origin: 30% 0;
  transform: translateY(100%) rotate(-90deg);
  padding: 0 1rem 1rem 0;
  animation: fadeIn 1s normal forwards;
}

.row {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;


}
.row.category {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    align-items:baseline !important;
    

}


.row.impact {
    padding-top: 20px;
    margin: 0 auto;
}

.row.events {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding-left: 0;
    margin: 0 auto 20px auto;
    width: 100%;
    height: auto;
}

.row.footer {
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
}

.col {
    align-content: center;
    float: left;
    vertical-align: center;
    
}

.col-lg {
    float: center;
}

.col-sm-4 {
    align-items: center;
}
  
.container {
    position: center;
    content: "";
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

  }

.container-footer {
    width: 100%;
    
}


.container-fluid {
    background-color: white;
    padding-bottom: 30px;
    margin: auto;
    overflow:hidden
  }

.container-fluid.content {
    background-color:#E7F0F5;
    width: 100%;
  }

.cardtitle {
    position: relative;
    margin: 0 auto;
    float: center;
    text-align: center;
}

  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background-color:#1C3D63 !important;
    background-size: cover;
    z-index: 10;
    font-family: 'Roboto', sans-serif !important;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    background-color: #1C3D63 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    height: 50px;

  }

  .navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto";
    font-weight: lighter;

  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: #1C3D63 !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: black;
      text-decoration: none;
      background:white;
  }

 .navbar-dropdown {
      color:#1C3D63 !important ;
  }
  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }
  
  /* Jumbotron  */
  .jumbotron {
    background-image: url("images/speakoutheaderimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 80%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  /* Buttons */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: size 12px; 
    letter-spacing: 1px;
    text-transform: lowercase;
    border-radius: 25px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #C54C23;
    color: #ffffff;
}



.btn-secondary {
    background-color: white;
    border-style: solid;
    border-color: #1C3D63;
    color: #1C3D63;
    border-width: 3px;
}


.btn-group-lg>.btn, .btn-lg {
    font-size: 1rem;
    float: center;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #E67A30;
}

.btn-primary:active, .btn-primary.active {
    background: #E67A30;
    box-shadow: none;
    
}

.btn-secondary:active, .btn-secondary.active {
    background: #1C3D63;
    box-shadow: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    background: #1C3D63;
    border-color: #1C3D63;
}

/* Cards */
.content {
    padding: 50px;
  }  
.sectionHeading {
    text-align: center;
  }  
.showsNear  {
    padding: 0px 30px 30px 30px;
  }  
.cardContainer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: baseline;
    float: left;
    

  }  

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: transparent;
    align-content: center !important;
    border: hidden;

}
  /* Content */



.img {
    align-items: center;
    max-width: none;
    
  
}

.card-img-top {
    display:inline ;
    resize: both;
    height: auto;
    justify-content: center;
    position: relative;
    background-clip: border-box;
    text-align: center;
}

.card-img-top.resize {
    width: 180px;
    height: auto;

}

.card-img-top.resize2 {
    width: 160px;
    height: auto;
    vertical-align: center;

}


.img-fluid {
    max-width: 100%;
    height: auto;

}
.imgstat {
      width: 100%;
      float: right;
      padding-top: 20px;
      padding-bottom: 20px;
      vertical-align: center;
      
  }

.imgtitle {
    width: 20px;
    display: inline;
    float: inline-start;
    max-width: 100%;
    height: auto;
  
}
@media only screen and (max-width: 629px)
{
  .imgtitle {
      float: none;
    display:block;
    transform: rotate(270deg);
    image-orientation: 270deg;

  }
}

.calendar1 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    float: center;
}
.eventimg {
    background-position: left;
    background-repeat: no-repeat;
    width: 450px;
    float: left;
    margin: 0 auto;
    ;
}


.event {
    height: auto;
    text-align: center;
    float: left;
    display: block;

}

  
  /* Footer */
.emailContain {
    background: url(../images/emailBG.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  /* Footer form */
.form {
    width: 500px;
    margin: 35px auto;
    padding: 45px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: white;
  }




.site-footer {
  background-color:#1C3D63;
  font-size:15px;
  line-height: 30px;
  color:white;
  padding-top: 40px;
  box-align: left;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(255, 255, 255);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

 